@import "tailwindcss";

:root {
  --shadow-glow: 0 0 60px hsl(237 83% 54% / 0.2);
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Manrope", sans-serif;
}

.text-primary {
  color: #25D161;
}

.bg-dark {
  background-color: #18181b;
}

.text-dark {
  color: #18181b;
}

.shadow-glow {
  box-shadow: var(--shadow-glow);
}